.tabla{
    text-align: center;
    width: 90%;
    background-color: var(--base);
    margin: auto;
    margin-bottom: 10px;
}
th{
    color: var(--texto);
}
td{
    color: var(--texto);
}
#cajilla{
    margin: auto;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
    border: 1px solid;
>>>>>>> c8e0d354ad04da0771a45ec0133ff729fc2044d6
>>>>>>> ff57c5604d1b7b8b75343c1e0ee3b2e1d3ad75e1
>>>>>>> dde1f623f7ab0cfe0e911323a11b773b5fc78fed
>>>>>>> 4736ed7bcc79daefb2fb5c6907483cf60de85bfe
>>>>>>> 5915cffaf3c4a8289550ec6241cf22fd2e9c11d5
>>>>>>> 09f56fe363ddb2ff6719a70c967bc3f2c4ed6e2b
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sudaderasHombre{
    text-align: center;
    width: 300px;
    background-color: var(--base);
    border: 1px solid var(--texto);
    margin: 15px;
    padding: 5px;
}