.carrouselMujer{
    max-width: 500px;
    margin: auto;
    border: 1px solid;
}
.carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next-icon{
    background-color: black;
}