*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh auto 20vh;  
    background-image: url(img/sudadera_fondo.jpg);
}

@media (max-width: 767px) {
    body{
        grid-template-rows: 40vh auto 20vh;  
    }
    .main{
        margin-top: -200px;
    }
}

@use 'variables.scss' as *;
@import 'header';
@import 'body';
@import 'footer';  